body {
  min-height: 100vh !important;
  font-family: "Titillium Web", sans-serif;
}

.callToAction{
  font-size: 4vh;
}

.userLogin{
  border: 0px;
  background-color: rgb(238, 238, 238);
}

.welcomeText{
  font-size: 9vh;
}


div.form-group{
  max-width: 500px;
}

footer a,
footer a:any-link {
  color: white;
}

footer a:first-child:hover {
  color: #000080;
}

footer a:last-child:hover {
  color: #800060;
}